body{

margin:0;

font-family: 'Trebuchet MS', sans-serif;

background-image:url("movie-background-collage.jpg");

background-size:cover;

background-attachment:fixed;

color:white;

text-align:center;

}


header{

background:rgba(0,0,0,0.8);

padding:20px;

}


header h1{

font-size:50px;

color:red;

letter-spacing:4px;

}


header p{

font-size:18px;

color:#ddd;

}


.movies{

display:flex;

flex-wrap:wrap;

justify-content:center;

gap:30px;

padding:40px;

}


.movie{

width:200px;

cursor:pointer;

transition:0.4s;

}


.movie img{

width:200px;

height:300px;

border-radius:12px;

box-shadow:0 0 15px black;

}


.movie:hover{

transform:scale(1.12);

}


.movie p{

font-size:18px;

font-weight:bold;

letter-spacing:1.5px;

margin-top:10px;

text-shadow:2px 2px 5px black;

}